/* src/components/Sidebar.css */
.sidebar {
    width: 250px;
    height: 95vh;
    background-color: #3e65f1;
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 20px;   
    padding-top: 20px;
  }
  
  .sidebar img {
    width: 100%;
    padding: 10px;
  }
  
  .sidebar-header h2 {
    text-align: center;
    margin: 10px 0;
  }
  
  .nav-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 50px;
  }
  
  .nav-item {
    padding: 25px 50px;
 
  }
  .nav-item a:hover
  {
    width : 150px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    color: black;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .nav-item i {
    margin-right: 10px;
  }
  
  .main-content {
    margin-left: 250px; /* Space for the sidebar */
    padding: 20px;
  }
  li i{
    padding: 10px;
  }